* {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  width: 800px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

h1 {
  letter-spacing: 2px;
}

#mainmenu > a {
  width: 20%;
  height: 100%;
  float: left;
}

#mainmenu > a > img {
  display: block;
  margin: auto;
  height: 100%;
}



#mainmenu > ul > li {
  display: inline;
}

#mainmenu > form {
  width: 20%;
  line-height: 7em;
  float: left;
  font-size: 16px;
}

#mainmenu > form > h3 {
  text-align: center;
  font-size: 2rem;
}

#company_payoff > h1,
#company_payoff > h2,
#company_payoff > strong {
  text-align: center;
  text-transform: uppercase;
  display: block;
}


#company_aside > p::first-letter {
  font-size: 200%;
  color: red;
}


#company_payoff > strong:hover {
  background-color: yellow;
  font-size: 18px;
}

main {
  clear: both;
  width: 100%;
}



#company_footer_section_2 > aside,
#company_footer_section_2 > article,
#company_footer_section_2 > section {
  float: left;
}

#company_footer_section_2 > section {
  width: 40%;
}

#company_footer_section_2 > section > a > img {
  width: 20%;
  margin: 5%;
}

table tr:nth-child(even) {
  background-color: #CFF;
}

table tr:nth-child(odd) {
  background-color: #FFF;
}

a:visited {
  color: red;
}

#cookies-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  text-align: center;
  padding: 1em;
  z-index: 9999;
}

/* Responsive media queries */
@media (max-width: 768px) {
  body {
    width: 100%;
    padding: 1em;
  }

  #mainmenu > a,
  #mainmenu > ul,
  #mainmenu > form,
  .main-article {
    width: 100%;
    float: none;
    text-align: center;
  }
}

@media (max-width: 480px) {
  img {
    width: 80px;
  }

  #company_aside > p {
    font-size: 18px;
  }
}
